<?xml version="1.0" encoding="UTF-8"?>
<web-app> xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>MphasisWebDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
     <welcome-file>success.html</welcome-file>
    <welcome-file>success.jsp</welcome-file>
    <welcome-file>success.htm</welcome-file>
     <welcome-file>fail.html</welcome-file>
    <welcome-file>fail.jsp</welcome-file>
    <welcome-file>fail.htm</welcome-file>
  </welcome-file-list>
  
   
  <servlet>
    <description></description>
    <display-name>user</display-name>
    <servlet-name>user</servlet-name>
    <servlet-class>user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet3</display-name>
    <servlet-name>DemoServlet3</servlet-name>
    <servlet-class>DemoServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet3</servlet-name>
    <url-pattern>/DemoServlet3</url-pattern>
  </servlet-mapping>
</web-app>

 